// Place all the styles related to the SmoothieBar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blender {
	background: url('Blender.png') no-repeat center top;
	background-size: 70%;
	height: 200px;
}

.well {
	height:200px;
}